[38;2;{{rgb.coding}}m█████  █      █████  █████  █████  ████ [0m
[38;2;{{rgb.lavender}}m█      █        █    █      █      █   █[0m
[38;2;{{rgb.research}}m█████  █        █    █      ████   █   █[0m
[38;2;{{rgb.orchid}}m    █  █        █    █      █      █   █[0m
[38;2;{{rgb.streaming}}m█████  █████  █████  █████  █████  ████ [0m

[38;2;{{rgb.gaming}}m█      █████  ████   █████[0m
[38;2;{{rgb.tangerine}}m█      █   █  █   █  █    [0m
[38;2;{{rgb.engine}}m█      █████  ████   █████[0m
[38;2;{{rgb.gold}}m█      █   █  █   █      █[0m
[38;2;{{rgb.monitoring}}m█████  █   █  ████   █████[0m

[38;2;{{rgb.coding}}m●[0m  [38;2;{{rgb.research}}m●[0m  [38;2;{{rgb.engine}}m●[0m  [38;2;{{rgb.browser}}m●[0m  [38;2;{{rgb.monitoring}}m●[0m  [38;2;{{rgb.streaming}}m●[0m  [38;2;{{rgb.gaming}}m●[0m  [38;2;{{rgb.media}}m●[0m

