# SlicedLabs · body · © 2026 SlicedLabs
# Qt6 palette — Liquid Retina v3, rendered from system/tokens.toml.
# 21 roles per line: WindowText, Button, Light, Midlight, Dark, Mid, Text,
# BrightText, ButtonText, Base, Window, Shadow, Highlight, HighlightedText,
# Link, LinkVisited, AlternateBase, ToolTipBase, ToolTipText, PlaceholderText,
# Accent. Selected in qt6ct.conf via color_scheme_path + custom_palette=true.
[ColorScheme]
active_colors={{color.fg}}, {{color.bg_alt}}, {{semantic.border_tertiary}}, {{color.bg_alt_light}}, {{color.warm_shadow}}, {{color.bg_alt}}, {{color.fg}}, {{ansi_bright.bright_white}}, {{color.fg}}, {{color.bg}}, {{color.bg}}, {{color.warm_shadow}}, {{color.primary}}, {{color.fg}}, {{color.secondary}}, {{color.wisteria}}, {{color.bg_alt}}, {{color.sand}}, {{color.bg}}, {{semantic.text_tertiary}}, {{color.primary}}
disabled_colors={{color.fg_muted}}, {{color.bg_alt}}, {{semantic.border_tertiary}}, {{color.bg_alt_light}}, {{color.warm_shadow}}, {{color.bg_alt}}, {{color.fg_muted}}, {{ansi_bright.bright_white}}, {{color.fg_muted}}, {{color.bg}}, {{color.bg}}, {{color.warm_shadow}}, {{color.inactive}}, {{color.fg_muted}}, {{color.secondary}}, {{color.wisteria}}, {{color.bg_alt}}, {{color.sand}}, {{color.bg}}, {{color.inactive}}, {{color.inactive}}
inactive_colors={{color.fg}}, {{color.bg_alt}}, {{semantic.border_tertiary}}, {{color.bg_alt_light}}, {{color.warm_shadow}}, {{color.bg_alt}}, {{color.fg}}, {{ansi_bright.bright_white}}, {{color.fg}}, {{color.bg}}, {{color.bg}}, {{color.warm_shadow}}, {{color.primary}}, {{color.fg}}, {{color.secondary}}, {{color.wisteria}}, {{color.bg_alt}}, {{color.sand}}, {{color.bg}}, {{semantic.text_tertiary}}, {{color.primary}}
